model_config_list {
  config {
    name: 'face_mask'
    base_path: '/models/face_mask'
    model_platform: 'tensorflow'
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
  config {
    name: 'sunglasses'
    base_path: '/models/sunglasses'
    model_platform: 'tensorflow'
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
  config {
    name: 'nude_nonude'
    base_path: '/models/nude_nonude'
    model_platform: 'tensorflow'
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
}
